# dependencies
bower_components/
node_modules/
vendor/

# development
.eslintcache
npm-debug.log*
yarn-error.log
yarn.lock

# build
dist/

# testing
coverage/
__screenshots__/

# project specific
test.js
test.ts
todo.md
